<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Primary Meta Tags | https://metatags.io -->
	<title>MyCandyLove Editor</title>
	<meta name="title" content="MyCandyLove Editor">
	<meta name="description" content="MyCandyLove Editor, create fanfics and browse through the My Candy Love illustrations!">
	<link href="favicon.png" rel="shortcut icon" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://mcl.sandro.dev/">
	<meta property="og:title" content="MyCandyLove Editor">
	<meta property="og:description" content="MyCandyLove Editor, create fanfics and browse through the My Candy Love illustrations!">
	<meta property="og:image" content="https://mcl.sandro.dev/assets/banner.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://mcl.sandro.dev/">
	<meta property="twitter:title" content="MyCandyLove Editor">
	<meta property="twitter:description" content="MyCandyLove Editor, create fanfics and browse through the My Candy Love illustrations!">
	<meta property="twitter:image" content="https://mcl.sandro.dev/assets/banner.jpg">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://googletagmanager.com/gtag/js?id=G-204HG9LMYG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-204HG9LMYG', { 'siteSpeedSampleRate': 50 });
	</script>
</head>
<body>
	<script type="module" src="/src/main.ts"></script>

	<div id="container" class="container">
		<div class="row">
			<div class="col s12 card">
				<div class="col s12">
					<img id="logo" src="src/assets/logo.png" title="My Candy Love Editor" alt="My Candy Love Editor">
				</div>

				<ul class="tabs" id="tabs">
					<li class="tab col s2"><a href="#tab-account">{{account}}</a></li>
					<li class="tab col s3"><a href="#tab-chat">{{dialogue}}</a></li>
					<li class="tab col s3"><a href="#tab-scene">{{place}}</a></li>
					<li class="tab col s3"><a href="#tab-characters">{{characters}}</a></li>
					<li class="tab col s1"><a href="#tab-settings">
						<svg class="icon" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconSettings %>"></path>
						</svg>
					</a></li>
				</ul>
			</div>

			<!-- Account -->
			<div id="tab-account" class="col s12">
				<div class="row">
					<div class="col s12">
						<p class="hide-on-med-and-down">{{welcome}}</p>
					</div>

					<div class="input-field col s12">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconAccountRegion %>"></path>
						</svg>
						<select id="region-edit"></select>
						<label for="region-edit">{{region}}</label>
					</div>

					<div class="input-field col s12 m8 l8">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconAccountName %>"></path>
						</svg>
						<input placeholder="{{username_placeholder}}" id="username-edit" type="text" class="validate">
						<label for="username-edit">{{username}}</label>
					</div>
					<div class="input-field col s12 m4 l4">
						<button id="username-submit" class="waves-effect waves-light btn">{{change_avatar}}</button>
					</div>
				</div>

				<div class="row">
					<div class="col s12 legal">
						<span>{{legal}}</span>
						&bullet;
						<span>{{version}}</span>
						&bullet;
						<span>
							<a href="https://github.com/SandroHc/MCL-Editor/issues" target="_blank">{{report_problem}}</a>
						</span>
					</div>
				</div>
			</div>

			<!-- Dialogue -->
			<div id="tab-chat" class="col s12">
				<!-- Avatar -->
				<div class="row">
					<div class="input-field col s12">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconDialogueAvatar %>"></path>
						</svg>
						<select id="avatar-edit"></select>
						<label for="avatar-edit">{{avatar}}</label>
					</div>
				</div>

				<!-- Dialogue bubble -->
				<div class="row">
					<div class="input-field col s12">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconDialogueBubble %>"></path>
						</svg>
						<textarea placeholder="{{characters_bubble}}" id="bubble-edit" class="materialize-textarea"></textarea>
						<label for="bubble-edit">{{characters_bubble_label}}</label>
					</div>
				</div>

				<!-- Answers -->
				<div class="row">
					<div class="input-field col s12">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconDialogueAnswers %>"></path>
						</svg>
						<textarea placeholder="{{answers}}" id="answers-edit" class="materialize-textarea"></textarea>
						<label for="answers-edit">{{answers_label}}</label>
					</div>
				</div>

				<!-- Love level -->
				<div class="row">
					<div class="input-field col s4 m2">
						<label>
							<input id="lovelevel-toggle" type="checkbox" class="filled-in">
							<span>{{love_level}}</span>
						</label>
					</div>
					<div class="input-field col s7 m9 range-field">
						<input id="lovelevel-edit" value="0" type="range" min="-100" max="100">
					</div>
					<div id="lovelevel-percentage" class="col s1 m1">
					</div>
				</div>
			</div>

			<!-- Place -->
			<div id="tab-scene" class="col s12">
				<div class="row">
					<div class="input-field col s12 m6">
						<select id="scene-edit"></select>
						<label for="scene-edit">{{places}}</label>
					</div>
					<div class="input-field col s12 m6">
						<select id="scene-variant-edit"></select>
					</div>

					<div class="input-field col s12 m12">
						<div class="file-field input-field">
							<div class="btn">
								<span>{{file}}</span>
								<input id="scene-file-picker" type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Characters -->
			<div id="tab-characters" class="col s12">
				<div class="row">
					<div id="characters"></div>
				</div>

				<a id="add-character" class="btn-floating btn-large waves-effect waves-light red" title="{{add_character}}">
					<svg viewBox="0 0 24 24">
						<path fill="currentColor" d="<%- iconAdd %>"></path>
					</svg>
				</a>
			</div>

			<!-- Settings -->
			<div id="tab-settings" class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<svg class="prefix" viewBox="0 0 24 24">
							<path fill="currentColor" d="<%- iconSettingsLanguage %>"></path>
						</svg>
						<select id="lang-edit"></select>
						<label for="lang-edit">{{language}}</label>
					</div>
				</div>
				<div class="divider"></div>
				<div class="row">
					<div class="col s12">
						<h4>{{cache}}</h4>
					</div>

					<div class="input-field col s6">
						<button id="clear-characters" class="waves-effect waves-light btn">{{clear_characters}}</button>
					</div>
					<div class="input-field col s6">
						<button id="clear-cache" class="waves-effect waves-light btn">{{clear_cache}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="scene">
		<div id="bubble" class="draggable" style="left: 65px; bottom: 325px; display: none;"></div>
		<div id="loveometer" style="display: none;">
			<div class="outer-gauge">
				<div class="inner-gauge">
					<div id="gauge" style="height: 50%;"></div>
				</div>
			</div>
			<div class="heart">
				<span id="heart-text">0%</span>
			</div>
		</div>
		<ul id="answers" style="display: none;"></ul>
		<div id="player" style="display: none;">
			<img id="player-avatar" src="/assets/portrait_unknown.png" alt="Player avatar">
		</div>
	</div>

	<a href="#scene" id="go-to-scene" class="card">{{view_result}} &darr;</a>
</body>
</html>
