$black: #000;
$black_50: rgba(0, 0, 0, .5);
$white: #fff;
$color_bubble_bg: rgba(255, 255, 255, 0.85);
$color_gauge_bg: #c8c8c8;
$color_gauge_bg_darker: #b9b9b9;
$color_gauge_border: rgba(140, 140, 140, 0.75);
$color_gauge_border_darker: rgba(24, 24, 24, 0.75);
$color_response_border: #ee3d73;
$color_response: #8cc503;
$color_response_hover: #64a625;
$color_player: #f4508e;