#file_edit {
	height: 34px;
	line-height: 34px;
}

.file_submit {
	width: auto;
	display: inline;
	float: none;
}

#scene_edit, #scene_sub_edit,
#avatar_edit,
#actor1_edit, #actor1_sub_edit,
#actor2_edit, #actor2_sub_edit {
	width: auto;
	min-width: 190px;
}

#loveometer,
.responses-wrapper,
.player {
	z-index: 100000 !important;
}

.bubble {
	text-align: center;
	z-index: 100010 !important;
}

.drag {
	cursor: default;
}

.drag:hover {
	opacity: 0.85;
	cursor: move;
}