@import "materialize-css/sass/materialize";

$black: #000;
$black_50: rgba(0, 0, 0, .5);
$white: #fff;
$color_bubble_bg: rgba(255, 255, 255, 0.85);
$color_gauge_bg: #c8c8c8;
$color_gauge_bg_darker: #b9b9b9;
$color_gauge_border: rgba(140, 140, 140, 0.75);
$color_gauge_border_darker: rgba(24, 24, 24, 0.75);
$color_response_border: #ee3d73;
$color_response: #8cc503;
$color_response_hover: #64a625;
$color_player: #f4508e;

$mcl-font: 'Trebuchet MS', 'Arial', sans-serif;

// URLs
$loveo-gauge: url(assets/gauge.png);		// Original: http://www.amordoce.com/image/high-school/gauge.png
$loveo-heart: url(assets/lom-heart.png);	// Original: http://www.amordoce.com/image/high-school/lom-heart.png

$zindex-1: 100000;
$zindex-2: 100100;
$zindex-3: 100200;

.row {
	margin-bottom: 0;
}

#logo {
	display: flex;
	margin: 0 auto;
}

#tabs svg {
	width: 24px;
	height: 100%;
}

#container {
	> .card {
		margin: 0;
	}
}

#scene {
	background-color: $white;
	overflow: hidden;
	position: relative;
	width: 978px;
	height: 698px;
	background-size: cover;
	margin: 0 auto;
}

#loveometer {
	position: absolute;
	right: 20px;
	top: 200px;
	z-index: $zindex-1;

	.outer-gauge {
		width: 50px;
		height: 280px;
		margin-left: 19px;
		border-radius: 30px;
		border: 5px solid $white;
		background: linear-gradient(to right, $color_gauge_bg_darker 50%, $color_gauge_bg 0);
		box-shadow: 0 0 12px 3px $color_gauge_border_darker, inset 0 0 3px 2px $color_gauge_border;
	}
	.inner-gauge {
		position: relative;
		width: 100%;
		height: 260px;
	}
	#gauge {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $loveo-gauge no-repeat left bottom;
		transition: height 500ms;
	}
	.heart {
		position: relative;
		box-sizing: border-box;
		width: 88px;
		height: 80px;
		margin-top: -40px;
		background: $loveo-heart no-repeat;
		color: $color_response_border;
		font-size: 12px;
		font-weight: 900;
		padding-top: 29px;
		text-align: center;
	}
}

#lovelevel-percentage {
	line-height: 73px;
}

#answers {
	position: absolute;
	width: calc(75% + 100px);
	bottom: -19px; // border (4px) + margin (15px)
	right: -4px;
	padding: 15px 0 10px 100px;
	background-color: $color_bubble_bg;
	border: solid $color_response_border 4px;
	border-top-left-radius: 3em;
	z-index: $zindex-1;

	list-style: none outside none;

	> li {
		position: relative;
		font-weight: bold;
		list-style-type: upper-alpha;
		list-style-position: inside;
		font-family: $mcl-font;
		color: $black;
		pointer-events: auto;
		line-height: 24px;
		font-size: 18px;
		padding: 3px 40px;

		&::marker {
			color: $color_response;
		}

		&.checked {
			color: $white;

			&::marker {
				color: $white;
			}

			cursor: pointer;
			background: linear-gradient(0deg, $color_response_hover 0, $color_response 100%);
		}

		&:hover {
			color: $white;

			&::marker {
				color: $white;
			}

			cursor: pointer;
			background: linear-gradient(0deg, rgba($color_response_hover, 0.70) 0, rgba($color_response, 0.70) 100%);
		}
	}
}

#player {
	width: 250px;
	height: 250px;
	position: absolute;
	bottom: -70px;
	left: 25px;
	margin: auto;
	border-radius: 50%;
	background: $white;
	overflow: hidden;
	box-shadow: 0 -3px 2px 1px $color_player;
	z-index: $zindex-1;

	img {
		width: 250px;
		position: absolute;
		bottom: 70px;
		background-size: 100%;
	}
}

#bubble {
	position: absolute;
	overflow: hidden;
	font-family: $mcl-font;
	max-width: 50%;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	padding: 15px;
	border-radius: 25px;
	background-color: $color_bubble_bg;
	text-align: center;
	z-index: $zindex-2 !important;
}
.actor {
	position: absolute;
	height: 92.24138%;
	background-size: 100%;
}

.tab .material-icons {
	line-height: inherit;
}

#tab-characters .btn-floating {
	&.btn-large {
		svg {
			width: 60%;
			margin-left: unset;
		}
	}

	svg {
		width: 30px;
		height: 100%;
		margin-left: 5px;
	}
}

#add-character {
	display: block;
	margin: 0 auto;
}

.file-field {
	margin-top: 0;
}

.input-field {
	margin-bottom: 0;

	ul {
		z-index: $zindex-3;
	}

	button {
		width: 100%;
	}

	svg.prefix {
		width: 30px;
	}
}

.draggable {
	cursor: default;
	transition: opacity 100ms ease-in;

	&:hover {
		opacity: 0.85;
		cursor: move;
	}
}

.legal {
	font-size: 0.9em;
	text-align: right;
	padding: 0.75rem !important;

	> span {
		white-space: nowrap;
	}
}

#go-to-scene {
	top: 1em;
	right: 1em;
	position: fixed;
	padding: .5em 1em;
	text-decoration: none;
	border-radius: 5px;
}

@media(max-width: 600px) {
	html {
		font-size: 18px;
	}

	#container {
		width: 100%;
	}

	.btn {
		font-size: 1rem;
	}

	.legal {
		font-size: 0.9rem;
	}

	.card {
		padding: 0;
		margin-top: 0;

		#tabs {
			.tab {
				width: fit-content;
			}

			a {
				padding: 0;
			}
		}
	}

	#characters .remove-col a {
		display: block;
		margin: 0 auto 0.5em auto;
	}

	#go-to-scene {
		top: 0;
		right: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.input-field {
		margin-top: 0.25em;
	}
}

@media(min-width: 1450px) {
	#container {
		width: calc(100% - 978px);
		float: left;
	}

	#scene {
		float: right;
	}

	#tab-account, #tab-chat, #tab-scene, #tab-actors, #tab-settings {
		padding: 0 2em;
	}

	#go-to-scene {
		display: none;
	}
}
